<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.asd.mapper.ReservationMapper">
	<resultMap id="ResultMap" type="team.asd.entity.Reservation">
		<id column="id" property="id"/>
		<result column="organization_id" property="organizationId"/>
		<result column="agent_id" property="agentId"/>
		<result column="customer_id" property="customerId"/>
		<result column="product_id" property="productId"/>
		<result column="from_date" property="fromDate"/>
		<result column="to_date" property="toDate"/>
	</resultMap>
	<select id="readById" parameterType="int" resultMap="ResultMap" resultType="team.asd.entity.Reservation">
		SELECT * FROM reservation
		WHERE id =#{id}
	</select>
	<insert id="create">
		INSERT INTO reservation (organization_id, agent_id, customer_id, product_id, state, from_date, to_date, price, quote, currency, guests, notes)
		VALUES (#{organizationId},#{agentId},#{customerId},#{productId},#{state},#{fromDate},#{toDate},#{price},#{quote},#{currency},#{guests},#{notes})
	</insert>
	<update id="update">
		UPDATE
		reservation
		<set>
			<if test="organizationId!=null">organization_id=#{organizationId},</if>
			<if test="agentId!=null">agent_id=#{agentId},</if>
			<if test="customerId!=null">customer_id=#{customerId},</if>
			<if test="productId!=null">product_id=#{productId},</if>
			<if test="state!=null">state=#{state},</if>
			<if test="fromDate!=null">from_date=#{fromDate},</if>
			<if test="toDate!=null">to_date=#{toDate},</if>
			<if test="price!=null">price=#{price},</if>
			<if test="quote!=null">quote=#{quote},</if>
			<if test="guests!=null">guests=#{guests},</if>
			<if test="currency!=null">currency=#{currency},</if>
			<if test="notes!=null">notes=#{notes}</if>
		</set>
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM reservation
		WHERE id =#{id}
	</delete>
</mapper>
